@font-face {
  font-family: "29LT Zarid Serif normal";
  src: local("29LT Zarid Serif normal"),
    url("../../assets/fonts/29LTZaridSans-Rg.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "29LT Zarid sans normal";
  src: local("29LT Zarid sans normal"),
    url("../../assets/fonts/29LTZaridSans-Rg.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "29LT Zarid sans bold";
  src: local("29LT Zarid sans bold"),
    url("../../assets/fonts/29LTZaridSans-Bd.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "29LT Zarid Serif bold";
  src: local("29LT Zarid Serif bold"),
    url("../../assets/fonts/29LTZaridSerif-Bd.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "29LT Zarid sans medium";
  src: local("29LT Zarid sans medium"),
    url("../../assets/fonts/29LTZaridSans-Md.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "29LT Zarid Serif medium";
  src: local("29LT Zarid Serif medium"),
    url("../../assets/fonts/29LTZaridSerif-Md.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}


