.flex-col-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.text-main  {
  color: $Text-Main-Text;
}


.vertical-line {
  margin: 0 5px;
  background: #dbdddf;
  width: 1px;
  height: 35px;
}

.horizontal-line {
  margin-top: 8px;
  margin-bottom: 20px;
  background: #dbdddf;
  width: 100%;
  height: 2px;
}


.form-control {
  border-color: #f3f3f3;
}
