$responsive-breakPoint: 1400px;
$navbar-height: 84px;
$Buttons-Primary-Content: #fff;
$Colors-Greys-Grey-Blue:rgba(244, 246, 248, 1);
$Colors-Greys-MeduimGrey:rgba(219, 221, 223, 1);
$Buttons-Secondry-Content: rgba(180, 145, 100, 1);
$Text-Main-Text:rgba(35, 40, 45, 1);
$Colors-Greys-Original:rgba(160, 160, 160, 1);
$Inputs-Empty-Icons:rgba(142, 142, 142, 1);
$Colors-Base-Color:rgba(142, 142, 142, 1);
$Colors-Main-Color:rgba(142, 142, 142, 1);
$Buttons-Dimmed-Bg:rgba(219, 221, 223, 1);
$Inputs-Filled-Title:rgba(142, 142, 142, 1);


$ActiveList:rgba(180, 145, 100, 1);
$MainColor:rgba(180, 145, 100, 1);
$Buttons-Primary-BG:rgba(180, 145, 100, 1);
$GreysRare:rgba(188, 188, 188, 1);

$TextSupport:rgba(100, 105, 110, 1);
$GreysOriginal:rgba(142, 142, 142, 1);
$SurfaceSroke:rgba(244, 246, 248, 1);
$MainSuccess:rgba(10, 181, 110, 1);
$MainShade:rgba(226, 219, 210, 1);
$Buttons-Secondry-BG: rgba(226, 219, 210, 1);
$Buttons-Dimmed-Shade: rgba(243, 243, 243, 1);
$Buttons-Outlined-Content: rgba(180, 145, 100, 1);
$Semantics-Main-Danger:rgba(216, 43, 63, 1);
$Semantics-Shades-Danger-shade:rgba(251, 234, 236, 1);






